/* Searchbar inside header styling */
.search-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-search {
  flex: 1;
  width: 285px;
  --border-radius: 10px;
  --box-shadow: none;
  --background: #ffffff;
  --color: #000;
  --placeholder-color: #999;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-inline-start: 8px;
}


/* Shopee-style Pinterest product grid */
.shopee-grid {
  column-count: 2;
  column-gap: 10px;
  padding: 10px;
}

.product-card {
  break-inside: avoid;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product-card img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #f1f1f1;
}

.product-info {
  padding: 10px;
}

.name {
  font-size: 14px;
  color: #212121;
  margin-bottom: 6px;
}

.price {
  color: #ee4d2d;
  font-weight: bold;
  font-size: 16px;
}
